---
import { Icon } from 'astro-icon';
---

<section class="bg-primary dark:bg-primary text-white not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    <span class="font-bold">
      <Icon name="tabler:info-square" class="w-5 h-5 inline-block align-text-bottom" /> Aktuelle Interessen:</span
    > React, Astro, Tailwind, ChatGPT & AI
  </div>
</section>
