---
import { Icon } from 'astro-icon';
---

<section class="max-w-3xl mx-auto px-4 md:px-0 not-prose">
  <div class="bg-slate-100 dark:bg-slate-800 dark:text-white px-4 sm:px-6 py-4 rounded-lg text-md text-center font-medium">
    <span class="font-bold">
      <Icon name="tabler:info-square" class="w-5 h-5 inline-block align-text-bottom" /> Aktuelle Interessen:</span
    > React, Astro, Tailwind, ChatGPT & AI
  </div>
</section>
