---
import Layout from '~/layouts/BaseLayout.astro';
import { getHomePermalink } from '~/utils/permalinks';

const title = `404 Fehler`;
---

<Layout meta={{ title }}>
  <section class="flex items-center h-full p-16">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
      <div class="max-w-md text-center">
        <h2 class="mb-8 font-bold text-9xl">
          <span class="sr-only">Fehler</span>
          <span class="text-primary">404</span>
        </h2>
        <p class="text-3xl font-semibold md:text-3xl mb-8">Sorry, diese Seite konnte nicht gefunden werden.</p>
        <a rel="noopener noreferrer" href={getHomePermalink()} class="btn ml-4">zurück zur Homepage</a>
      </div>
    </div>
  </section>
</Layout>
