---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Über mich', href: '/personal-site/ueber-mich' }}
    callToAction2={{ text: 'Projekte', href: '/personal-site/projekte' }}
    image={{ src: import('~/assets/images/joscha-portrait.jpg'), alt: 'Portrait von Joscha' }}
  >
    <Fragment slot="title">
      Hi, ich bin <span class="text-accent dark:text-white highlight"> Joscha</span>!
    </Fragment>

    <Fragment slot="subtitle">
      <span>
        Webentwickler aus Karlsruhe mit 7 Jahren Erfahrung als Mitgründer und CTO einer WordPress Agentur sowie als Freelancer. Glücklicher Papa. Hobby-Brotbäcker.</span
      >
    </Fragment>
  </Hero>

</Layout>
