---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Steps3 from '~/components/widgets/Steps3.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: 'Über mich - ' + SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Content Widget **************** -->

  <Content
    title="Über mich"
    subtitle="Hier gibt's ein wenig über mich selbst"
    items={[
      {
        title: 'Webentwickler aus Karlsruhe',
        description:
          'Ex usu illum iudico molestie. Pro ne agam facete mediocritatem, ridens labore facete mea ei. Pro id apeirian dignissim.',
      },
      {
        title: 'WordPress Enthusiast',
        description:
          'Amet utinam aliquando ut mea, malis admodum ocurreret nec et, elit tibique cu nec. Nec ex maluisset inciderint, ex quis.',
      },
      {
        title: 'Zukunftspläne',
        description:
          'At sed possim oporteat probatus, justo graece ne nec, minim commodo legimus ut vix. Ut eos iudico quando soleat, nam modus.',
      },
    ]}
    image={{
      src: import('~/assets/images/joscha-portrait-3.jpg'),
      alt: 'Colorful Image',
    }}
  >
    <!-- <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Das bin ich</h3>
      Ich bin Webentwickler aus Karlsruhe. Ich bin 31 Jahre alt und erstelle seit etwa 10 Jahren Websites - oder genau 749188197489 Millisekunden!
      <br />
      Ich verwende HTML, CSS, JavaScript und WordPress. Mein Schwerpunkt liegt derzeit auf WordPress, React.js, Serverless, Astro, auch wenn er sich ständig ändert.
    </Fragment> -->
  </Content>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Steps Widget ****************** -->

  <Steps3
    title="Überblick"
    items={[
      {
        title: '1991-2011: <span class="font-medium">Aufgewachsen im Allgäu</span>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula.',
        icon: 'tabler:package',
      },
      {
        title: '2011-2012: <span class="font-medium">Unterwegs in Afrika</em>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla.',
        icon: 'tabler:letter-case',
      },
      {
        title: '2012-2016: <span class="font-medium">Studium in Furtwangen</span>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula. Fusce sit amet dui tellus.',
        icon: 'tabler:paint',
      },
      {
        title: '2016-2018: <span class="font-medium">Start in die Selbständigkeit</span>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula. Fusce sit amet dui tellus.',
        icon: 'tabler:paint',
      },
      {
        title: '2018-heute: <span class="font-medium">Mitgründer einer WordPress Agentur</span>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula. Fusce sit amet dui tellus.',
        icon: 'tabler:paint',
      },
      {
        title: 'Bereit für etwas Neues!',
        icon: 'tabler:check',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Kontakt aufnehmen',
      href: '/kontakt',
      icon: 'tabler:mail',
    }}
  >
    <Fragment slot="title">
      Interesse an einer <br class="block" /><span class="sm:whitespace-nowrap">Zusammenarbeit?</span>
    </Fragment>

    <Fragment slot="subtitle">
      Ich bin aktuell auf der Suche nach einem interessanten und herausfordernden Job als Webentwickler in Karlsruhe oder Umgebung.
    </Fragment>
  </CallToAction>
</Layout>
