---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Note from '~/components/widgets/Note.astro';
import Steps3 from '~/components/widgets/Steps3.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: 'Über mich - ' + SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Content Widget **************** -->

  <Content
    title="Über mich"
    subtitle="Infos zu meiner Person"
    content="<p class='mb-2'>Im Jahr 2012 begann ich mein Studium der OnlineMedien an der HFU Furtwangen im Schwarzwald und tauchte ein in die Welt der Webentwicklung. Ich traf tolle Menschen, die zu Wegbegleitern wurden und startete nach dem Studium gemeinsam mit meinen Kommilitonen Lennart und Moritz ein Freelance-Business.</p><p class='mb-2'>Zwei Jahre später gründeten wir 2018 die dreiQBIK GmbH mit dem Ziel, eine schlanke und agile WordPress-Agentur aufzubauen. Bis heute habe ich als Verantwortlicher in der Entwicklung unzählige Projekte umgesetzt, wertschätzende Kund:innen begleitet und eine Menge gelernt — sei es im Bereich Marketing, Akquise, Projektmanagement, Design oder Finanzplanung und Buchhaltung.</p><p class='mb-2'>Dieses Jahr schließt sich nun dieses Kapitel und ich bin auf der Suche nach einer neuen Herausforderung — gespannt auf ein neues Umfeld, neue Aufgaben und neue Erfahrungen.</p><p class='mb-2'>In meiner Freizeit züchte ich meinen Sauerteig, arbeite im Garten oder verbringe einfach Zeit mit meiner Frau und unseren beiden Kindern.</p>"
    image={{
      src: import('~/assets/images/joscha-portrait-3.jpg'),
      alt: 'Joscha vor seinem Bürogebäude',
    }}
    isReversed={true}
  >
    <!-- <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Das bin ich</h3>
      Ich bin Webentwickler aus Karlsruhe. Ich bin 31 Jahre alt und erstelle seit etwa 10 Jahren Websites - oder genau 749188197489 Millisekunden!
      <br />
      Ich verwende HTML, CSS, JavaScript und WordPress. Mein Schwerpunkt liegt derzeit auf WordPress, React.js, Serverless, Astro, auch wenn er sich ständig ändert.
    </Fragment> -->
  </Content>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Steps Widget ****************** -->

  <Steps3
    title="Überblick"
    items={[
      {
        title: '1991-2011: <span class="font-medium">Aufgewachsen im Allgäu</span>',
        description:
          'Meine Kindheit und Jugend habe ich im schönen Wangen im Allgäu verbracht — die Alpen und der Bodensee nur einen Sprung entfernt.',
        icon: 'tabler:mountain',
      },
      {
        title: '2011-2012: <span class="font-medium">Unterwegs in Ostafrika</em>',
        description:
          'Nach dem Abitur habe ich ein Jahr als Lehrer einer weiterführenden Schule in Uganda verbracht.',
        icon: 'tabler:plane-departure',
      },
      {
        title: '2012-2016: <span class="font-medium">Studium in Furtwangen</span>',
        description:
          'Das Studium der OnlineMedien hat mein Interesse für die Webentwicklung geweckt.',
        icon: 'tabler:school',
      },
      {
        title: '2016-2018: <span class="font-medium">Start in die Selbständigkeit</span>',
        description:
          'Zu dritt haben wir als Freelancer für verschiedene Kund:innen remote und vor Ort gearbeitet und viele wertvolle Einblicke und Erfahrungen gesammelt.',
        icon: 'tabler:run',
      },
      {
        title: '2018-heute: <span class="font-medium">Mitgründer einer WordPress Agentur</span>',
        description:
          'Als kleine Agentur (mit wenig Erfahrung zu Beginn) haben wir verschiedene Wege eingeschlagen, viel gelernt und tolle Menschen und Unternehmen auf ihrem Weg begleitet.',
        icon: 'tabler:building',
      },
      {
        title: 'Bereit für etwas Neues!',
        icon: 'tabler:check',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <!-- <CallToAction
    callToAction={{
      text: 'Kontakt aufnehmen',
      href: '/personal-site/kontakt',
    }}
  >
    <Fragment slot="title">
      Interesse an einer <br class="block" /><span class="sm:whitespace-nowrap">Zusammenarbeit?</span>
    </Fragment>

    <Fragment slot="subtitle">
      Ich bin aktuell auf der Suche nach einem interessanten und herausfordernden Job als Webentwickler in Karlsruhe oder Umgebung.
    </Fragment>
  </CallToAction> -->
</Layout>
