---
---

<span
  class="flex items-center self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <svg
    class="inline-flex w-8 lg:w-10 h-8 lg:h-10 mr-3 fill-primary"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    width="95px"
    height="101px"
    viewBox="2.333 10.667 95 101"
    enable-background="new 2.333 10.667 95 101"
    xml:space="preserve"
  >
    <polygon
      points="14.528,94.667 2.333,94.667 2.333,111.667 21.625,111.667 36.333,96.135 36.333,69.971
	46.333,66.45 46.333,53.646 36.333,49.165 36.333,23.669 21.917,10.667 2.333,10.667 2.333,27.667 14.712,27.667 18.333,30.917
	18.333,90.161 "
    ></polygon>
    <polygon
      points="85.219,27.667 97.333,27.667 97.333,10.667 78.122,10.667 63.333,23.961 63.333,50.126
	52.333,53.646 52.333,66.45 63.333,70.93 63.333,96.428 77.829,111.667 97.333,111.667 97.333,94.667 85.034,94.667 81.333,90.667
	81.333,31.073 "
    ></polygon>
  </svg>
  <span class="flex flex-col invisible lg:visible">
    <span>Joscha Holzhäuer</span>
    <span class="text-sm font-normal italic uppercase">Webentwickler</span>
  </span>
</span>
